body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fb009f,red);
    font-family: sans-serif;
}
.container{
    text-align: center;
}
.text{
    color: white;
    letter-spacing: 1px;
    margin: 10px;
}
.page{
    width: 350px;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 15px;
}
.title{
    padding: 30px 0;
    text-transform: capitalize;
    font-size: 25px;
     font-family: 'Eater', cursive;
    font-family: 'Poppins', sans-serif;
    
}
form{
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
form input{
    margin-bottom: 5px;
    border: 1px solid rgba (0,0,0,0.4);
    border-radius: 3px;
    outline: none; 

}
form input:focus{
    border: 1px solid rgba(0, 0,0, 0.7);
    background: #efefef;

}
input[type="text"],input[type="password"]{
    padding-left: 10px;
    position: relative;
    height: 35px;
    font-size: 17px;

}
input::placeholder{
    font-weight: normal;
    font-size: 13px;
    transition: 0.3s ease;

}
input:focus::placeholder{
    position: absolute;
    font-size: 10px;
    transform: translatey(-13px);

}
form button{
    border: none;
    background: #043fff;
    padding: 5px 0;
    margin-top: 5px;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;

}
form button:active{
    background: #2c582c;
    transform: scale(0.995);

}
form .option{
    color: #5a5a5a;
    margin: 10px 0;
    font-weight: bold;
    position: relative;


}
form .option:before{
    position: absolute;
    content: '';
    width: 37px;
    height: 2px;
    background: #b6b6b6;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    border-radius: 50px;
}
form .option:after{
    position: absolute;
    content: '';
    width: 37px;
    height: 2px;
    background: #b6b6b6;
    right: 0;
    top: 50%;
    transform: translate(-50%);
    border-radius: 50px;
}
.fblink{
    margin-top: 15px;
    width: #021890;
    margin: 5px;
}
.fblink span{
    font-size: 18px;
    color: #021897;
    margin-right: 5px;
}
.fblink a{
    text-decoration: none;
    font-weight: bold;
    color: #021897;

}
.foget-id{
    margin: 15px;

}
.foget-id a{
    text-decoration: none;
    color: #025fd0;
    font-size: 12px;
    font-weight: 500;
}
.page .signup{
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;

}
.signup a{
    text-decoration: none;
    margin-left: 5px;
    color: #008aff;
    font-weight: bold;
}